.canvas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.canvas_title {
    font-family: 'Courier New', Courier, monospace;
}

.canvas button {
    padding: 5px 10px;
    background: beige;
    border: none;
    outline: 2px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.entries {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.entry_card {
    width: 23%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.high {
    background: lime;
}

.medium {
    background: yellow;
}

.low {
    background: orange;
}

.lowest {
    background: red;
}